<div class="comment">
            <div class="comment__info">
                <div class="comment__info__user">
                    <img src="../../images/profilePhotos/userPhoto_[[USER_ID]].png" class="comment__userImage"/>
                    <h3 class="comment__user__fullname">[[USER_FULLNAME]]</h3>
                
                    <h4 class="comment__date">[[UPLOAD_DATE]]</h4>
                    [[YOUTAG]]
                    
                </div>
                [[DELETE_BTN]]
               
                
            </div>
            <p class="comment__content">
                [[CONTENT]]
            </p>
</div>