<div class="post__container">
    <div class="post__info">
        <img src="../../images/profilePhotos/userPhoto_[[USER_ID]].png" alt="profile photo" class="post__userphoto"/>
        <div>
            <h2 class="post__username">[[FULLNAME]]</h2>
            <h3 class="post__date">Created at: [[POST_DATE]]</h3>
        </div>
    </div>
    <div class="post__content">
        <p class="post__text">[[POST_TEXT]]</p>
        [[SLIDER]]

    </div>
    
    <h4 class="likes__number">Likes: [[LIKES_COUNT]]</h4>
    <div class="post__action__container">
        <div class="post__action"><i class="fa-regular fa-heart"></i>Like </div>
        <div class="post__action"><i class="fa-regular fa-comment"></i>Comment</div>
        <div class="post__action"><i class="fa-regular fa-share-from-square"></i>Share</div>
    </div>
</div>