<div class="post__container">
    <div class="post__info">
        <a href="../views/userProfile.php?userID=[[USER_ID]]">
            <img src="[[PHOTO_URL]]" alt="profile photo" class="post__userphoto"/>
        </a>
        
        <div>
            <h2 class="post__username">[[FULLNAME]]</h2>
            <h3 class="post__date">Created at: [[POST_DATE]]</h3>
        </div>
    </div>
    <div class="post__content">
        <p class="post__text">[[POST_TEXT]]</p>
        [[SLIDER]]

    </div>
    
    <h4 class="likes__number">Likes: [[LIKES_COUNT]]</h4>
    <div class="post__action__container">
        <div class="post__action"><i class="fa-regular fa-heart"></i>Like </div>
        <a class="post__action" href="postView.php?postID=[[POST_ID]]"><i class="fa-regular fa-comment"></i>Comment</a>
        <div class="post__action"><i class="fa-regular fa-share-from-square"></i>Share</div>
    </div>
</div>