<div class="post__container">
    <div class="post__info">
        <img src="../../images/profilePhotos/userPhoto_[[USER_ID]].png" alt="profile photo" class="post__userphoto"/>
        <div>
            <h2 class="post__username">[[FULLNAME]]</h2>
            <h3 class="post__date">Created at: [[POST_DATE]]</h3>
        </div>
    </div>
    <div class="post__content">
        <p class="post__text">[[POST_TEXT]]</p>
        <div class="slider__container">
            <div class="slider">
                <div class="slider__slide">
                    <img class="slider__image" src="../../images/postPhotos/postPhoto--1.webp" alt="post image"/>
                </div>
                <div class="slider__slide">
                    <img class="slider__image" src="../../images/postPhotos/postPhoto--2.jpg" alt="post image"/>
                </div>
                <div class="slider__slide">
                    <img class="slider__image" src="../../images/postPhotos/postPhoto--3.jpg" alt="post image"/>
                </div>
                <div class="slider__slide">
                    <img class="slider__image" src="../../images/profilePhotos/userPhoto_1.png" alt="post image"/>
                </div>
                <div class="slider__slide">
                    <img class="slider__image" src="../../images/postPhotos/postPhoto--4.jpeg" alt="post image"/>
                </div>
            </div>
            <div class="slider__button slider__next"><i class="fa-solid fa-chevron-right"></i></div>
            <div class="slider__button slider__prev"><i class="fa-solid fa-chevron-left"></i></div>
        </div>
        
    </div>
    
    <h4 class="likes__number">Likes: [[LIKES_COUNT]]</h4>
    <div class="post__action__container">
        <div class="post__action"><i class="fa-regular fa-heart"></i>Like </div>
        <div class="post__action"><i class="fa-regular fa-comment"></i>Comment</div>
        <div class="post__action"><i class="fa-regular fa-share-from-square"></i>Share</div>
    </div>
</div>