.comments__section__container{
    background-color:var(--section-gray);
    padding:9.6rem;
}
.comments__section{
    display:flex;
    flex-direction: column;
    gap:6.4rem;
    margin:0 auto;
    max-width: 96rem;
    
}
.comment__container{
    display:flex;
    background-color: var(--main-light);
    gap:3.2rem;

    border-radius: 7px;
    padding:3.2rem;
}
.comment__userImage
{
    width:4rem;
    border-radius:100%;
}
.comment__upvote__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:var(--section-gray);
    padding:1.2rem 1.2rem ;
    border-radius:7px;
}
.comment__upvote__container i {
    font-size:2rem;
    color:var(--blue-main);
    cursor: pointer;
}
.comment__upvote__count
{
    font-size:2.4rem;
}
.comment__info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1.6rem;
}
.comment__user__fullname{
    font-size:2.4rem;
    color:var(--blue-main);
}
.comment__info__user{
    display:flex;
    align-items: center;
    gap:2rem;
}
.comment__content{
    font-size:2rem;
    line-height: 1.8;
    
}
.comment__date{
    font-size:2rem;
    opacity:0.5;
}
.comment__replyBtn{
    color:var(--blue-main);
    font-size:2.4rem;
    cursor: pointer;
}
.comment__youTag{
    background-color: var(--blue-main);
    font-size:2rem;
    border-radius:7px;
    padding:0.4rem 1.8rem;
    color:white;
}
.comment{
    display: flex;
    flex-direction: column;
    gap:3.2rem;
}
.replies__container{
    margin-left:4.8rem;
    padding-left:4.8rem;
    border-left:2px solid var(--secondary-light);
    display:flex;
    flex-direction: column;
    gap:2rem;
}
.comment__publish__container{
    background-color:var(--main-light);
    padding:3.2rem;
    border-radius: 7px;
    display: flex;
    gap:3.2rem;
}
.comment__publish__img{
    width:6.4rem;
    height:6.4rem;
    border-radius: 100%;
}
.comment__publish__input{
    width:100%;
    height:12.8rem;
    resize: none;
    padding:0.8rem;
    font-size:2rem;
    background-color: var(--main-light);
    border-radius:7px;
    border:1px solid var(--secondary-light);
    color:var(--main-dark);
}
.comment__publish__btn{
    height:fit-content;
    font-size:2.4rem;
    background-color: var(--blue-main);
    border: none;
    color:white;
    padding:1rem 3.2rem;
}