body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login__container
{
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.554);
    width:60rem;
}
.login__title
{
    background-color: var(--blue-main);
    color:white;
    padding:0.8rem;
    text-align: center;
    font-weight:400;
    font-size:2rem;
}
.login__form{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:1.6rem;
    padding:3.2rem;
}
.login__textinput{
    width:100%;
    border:none;
    background-color:#e9ecef;
    font-size:1.6rem;
    font-weight: 300;
    padding:0.8rem;
}
.login__checkbox--label
{
    display:flex;
    align-items: center;
    font-size:1.6rem;
    gap:1.2rem;
}
.login__checkbox--label input{
    width:1.6rem;
    height:1.6rem;
}
.login__error--message{
    font-size:1.6rem;
    font-weight:400;
    color:var(--error-color);
}
.login__form__input--invalid{
    border:1px solid var(--error-color);
}
.login__form--wrapper{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:0.6rem;
}
/* 
 Upload photo view
*/
.uploadPhoto__image
{
    width:30rem;
    height:30rem;
    border:solid 6px var(--blue-main);
    border-radius:100%;
}

.uploadPhoto__container{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:3.2rem;
}
#uploadPhoto__form{
    margin-top:2.4rem;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:3.2rem;
    width:100%;
}
#uploadPhoto__input--file{
     display:none; 
}
.uploadPhoto__input--file__label
{
    background-color:var(--blue-main);
    width:50%;
    border:none;
    color:white;
    font-size:2rem;
    padding:0.8rem 0.0rem;
    cursor:pointer;
    transition: all 0.2s;
    text-align: center;
}