@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
:root {
    --blue-main: #5c7cfa;
    --blue-main_light:#748ffc;
    --error-color:#fa5252
  }
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size:62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}


/* Reusable classes */
.container{
    width:144rem;
    margin:0 auto;
}
.btn--primary{
    text-align: center;
    background-color:var(--blue-main) ;
    width:100%;
    border:none;
    color:white;
    font-size:2rem;
    padding:0.8rem 0.0rem;
    cursor:pointer;
    transition: all 0.2s;
}
.btn--primary:hover{
    background-color:var(--blue-main_light);
}