@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
:root {
    --blue-main: #5c7cfa;
    --blue-main_light:#748ffc;
    --error-color:#fa5252
  }
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size:62.5%;
}
.login-btn
{
    width:30rem !important;
    text-align: center;
}
a{
    text-decoration: none;

}
.container{
    width:144rem;
    margin:0 auto;
}
li{
    list-style-type: none;
}