.post__section{
    padding:9.6rem;
    display:flex;
    flex-direction: column;
    gap:6.4rem;
    background-color: var(--section-gray);
}
.post__container
{ 
    gap:6.4rem;
    margin:0 auto;
    width:80rem;
    padding:4.8rem;
    background-color:var(--main-light);
    opacity:0;
    transform: translateY(10%);
    transition: all 1s;
}
.post__container__show{
    opacity:1;
    transform: translateY(0%);
}
.post__userphoto{
    width:6.4rem;
    height:6.4rem;
    border-radius:100%;
    border:1px solid var(--blue-main)
}
.post__info{
    display:flex;
    gap:1.6rem;
    margin-bottom:1.2rem;
}
.post__username{
    font-size:2.4rem;
}
.post__date{
    font-size:1.6rem;
    font-weight:400;
    color:#71767b;
}
.post__text{
    font-size:1.6rem;
    line-height:1.8;
    margin-bottom: 2.4rem;
}
.slider__image
{
    width: 100%;
    height: 100%;
    object-fit:contain; 
    
}
.slider__container {
    position: relative;
    width: 100%;
    height:40rem;
    background-color:black;
}

.slider {
    display: flex;
    height:100%;
    overflow: hidden;
    align-items: center;
}

.slider__slide {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
    width:100%;
    height:100%;
}
.slider__button{
    position: absolute;
    top: 50%;
    background-color: white;
    color:#0a1f30;
    font-size:2.4rem;
    border-radius:100%;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px 0px 24px -8px var(--shadow-main);
    
}
.slider__next
{
   right:0;
   transform:translate(50%,-50%);
}
.slider__prev{
    left:0;
    transform:translate(-50%,-50%);
}
.likes__number{
    font-size:2.4rem;
    margin-top:0.2rem;
}
.post__action__container{
    display:flex;
    justify-content: space-around;
    margin-top:1.6rem;
}
.post__action{
    font-size:2.4rem;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 500;
}
.post__action i {
    margin-right:0.8rem;
}