.settings__container{
    display:flex;
    gap:4.8rem;
    margin:0 auto;
    background-color: var(--main-light);
    width:100rem;
    margin-top:4.8rem;
    border-radius: 7px;
    padding:3.2rem;
}
.settings__title{
    font-size:3.2rem;
    letter-spacing: 2px;
    margin-bottom:2rem;
    font-weight: bold;
}

.settings__nav{
    border-right:2px solid var(--section-gray);
    padding-right:3.2rem;
}
.settings__nav__list{
    display: flex;
    flex-direction: column;
    gap:1.6rem;
}
.settings__nav__btn{
    font-size:2rem;
    cursor:pointer;
    background-color:var(--section-gray);
    padding:1rem;
    border-radius:7px;
    width:100%;
}
.settings__nav__btn i{
    margin-right:1.2rem;
}
.settings__nav__btn--active{
    color:var(--blue-main);
}
.settings__hidden{
    display:none !important;
}
.settings__photo__container{
    display:flex;   
    gap:4.8rem;
    align-items: center;
}
.settings__photo__container img{
    width:20rem;
    height:20rem;
    border-radius: 100%;
    border:2px solid var(--blue-main);
}
.settings__photo__container div{
    display:flex;
    gap:1.6rem;
    align-items: center;
    flex-direction: column;
}
.settings__photo__container div a{
    width:100%;
}

.settings__main{
    flex:1;
}
.settings__form
{
    margin-top:3.2rem;
    display:flex;
    flex-direction:column;
    gap:1.6rem;
}
.settings__form__wrapper{
    display:flex;
    width:100%;
    gap:3.2rem;
}
.settings__form__wrapper label{

    width:100%;
}
.settings__form__label{
    display:flex;
    flex-direction: column;
    gap:0.6rem;
    font-size:2.4rem;
}
.settings__form__label input ,.settings__form__label textarea {
    font-size:1.6rem;
    padding:0.8rem 0.8rem;
    border-radius:7px;
    border:none;
    outline: none;
    background-color:#e9ecef;
   
}
.settings__form__label textarea{
    resize: none;
    width:80%;
    height:10rem;
}
.settings__form button{
    margin-top:2.4rem;
    width:50% !important;
    align-self: flex-end;
    
}
.settings__account__btns{
    display:flex;
    flex-direction: column ;
    gap:2.4rem;
}
.settings__account__btns button {
    width: fit-content;
}

.settings__account__label{
    font-size:1.6rem;
}
.settings__account__verification{
    display:flex;
    flex-direction: column;
    gap:2rem;
}
.settings__account__verification h3{
    font-size:2rem;
    font-weight: 500;
    
}
.settings__account__label{
    width:fit-content !important;
}
.account__btn__container{
    display:flex;
    gap:3.2rem;
    margin-top:2rem;
}
.account__btn__container button{
    display:flex;
    align-items: center;
    gap:1.2rem;
}
.settings__form__label span{
    display:flex;
    gap:1rem;
    align-items: center;
}
.profile__error__msg{
    color:var(--error-color);
    font-size:1.6rem;
    transition: all 0.2s;
}
.error__hidden{
    transform: translateY(-100%);
    opacity:0;
}