.btn{
    background-color:#5c7cfa;
    width:100%;
    border:none;
    color:white;
    font-size:2rem;
    padding:0.8rem 0.0rem;
    cursor:pointer;
    transition: all 0.2s;
}
.btn:hover{
    background-color:#748ffc;
}